Package: com.hacker.modulousexample
Name: ExampleModule
Depends: com.hacker.fmwk.modulous
Version: 0.0.1
Architecture: iphoneos-arm
Description: Example module for Modulous framework.
Maintainer: hacker
Author: hacker
Section: Modulous (Modules)
