Package: com.hacker.modulousexample
Name: ModulousExample
Version: 0.0.1
Architecture: iphoneos-arm
Description: An example tweak to demonstrate the Modulous framework.
Maintainer: hacker
Author: hacker
Section: Tweaks
Depends: com.hacker.fmwk.modulous
